@* Views/Shared/Navbar/_NavProfile.cshtml *@
<div class="sidebar">
    <ul>
        <li><a href="/Accounts/Profile">Cập nhật tài khoản</a></li>
        <li><a href="/Accounts/EditPassword">Đổi mật khẩu</a></li>
        <li><a href="#">Sản phẩm yêu thích</a></li>
        <li><a href="#">Quên mật khẩu</a></li>
    </ul>
</div>