<!--Views/Shared/Navbar/_NavCategories.cshtml-->


<!-- Bắt đầu thanh sắp xếp + tìm kiếm -->
<div class="row mb-3 align-items-center">
    <div class="col-md-6">
        <select id="sortSelect" class="form-select">
            <option value="">--- Sắp xếp ---</option>
            <option value="az">Tên sách A-Z</option>
            <option value="za">Tên sách Z-A</option>
            <option value="price-asc">Giá tăng dần</option>
            <option value="price-desc">Giá giảm dần</option>
        </select>
    </div>
    <div class="action_menu col-md-6 text-end">
        <div class="search-bar" style="padding-top: 16px;">
            <form id="searchForm" class="search-box" style="position: relative;">
                <input id="searchInput" class="search-field text search-input form-control" placeholder="Nhập tên sách hoặc tác giả..." type="search" />
                <button type="submit" class="btn btn-primary" style="position: absolute; right: 0; top: 0; bottom:0; margin:0; height: 39px;">Tìm</button>
            </form>
        </div>
    </div>
</div>